@charset "UTF-8";

@font-face {
  font-family: "geualsw";
  src:url("../fonts/geualsw.eot");
  src:url("../fonts/geualsw.eot?#iefix") format("embedded-opentype"),
    url("../fonts/geualsw.woff") format("woff"),
    url("../fonts/geualsw.ttf") format("truetype"),
    url("../fonts/geualsw.svg#geualsw") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "geualsw" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "geualsw" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-library-icon:before {
  content: "a";
}
