<script>
(function($) {
        $(window).load(function() {                                          
            $('.div-login ul').addClass('panel');                       
        })        
})(jQuery);
</script>
<div class="page_cont">	
<div class="row">

<div ng-controller="Profile">  
  <div class="div-login">
    
     <div class="back_to_libary">                      
         <a href="/">
            <i class="fa fa-arrow-right"></i>
             {{"Back_to_Library" | translate}}
          </a>                      
   </div>
    
    <h1 id="ttl1"  class="settings_page_title">
       <i class="fa fa-user"></i>
        {{"Your_Account" | translate}}
    </h1>
        
    
   <tabset type ="pills" >
          
          <tab heading="{{'Settings' | translate}}" disabled="tabs[0].disabled" active="tabs[0].active">                
               

                <div class="messages">
                    <div class="text-success" ng-show="User_Success">{{'Data_Saved_Successfully' | translate}}</div> 
                </div>                    
                 
                <div class="col-md-12 panel"> 
                <form method="post" name="regForm1" id="regForm1" novalidate ng-submit="submitTheForm()" style="margin-top:40px;">                           
                    <input type="hidden" id="action" name="action" value="register_action" />
                    <input type="hidden" id="username" name="username" value="{{email_id}}" />                  
                  
                  <div class="form-group">
                    <div  class=" col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3 login-error-msg" ng-show="PSWRD_MATCH_ERROR">Passwords do not match</div>                    
                    <label for="st-psw" class="col-md-2 col-sm-2 control-label">{{'Password' | translate}}</label>                                        
                    <div class="col-md-5 col-sm-5"><input type="password" class="form-control" name="password" id="st-psw" ng-model="user.password" placeholder="{{'Current_Password' | translate}}" /></div>                   
                    <div class="col-md-5 col-sm-5 "><input type="password" class="form-control" name="password2" id="st-psw2" ng-model="user.password2" placeholder="{{'New_Password' | translate}}" /></div>
                   </div> 

                  
                   <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2 forgotPass">
                       <a href="{{lostPassURL}}">{{'Forgot_Password' | translate}}</a>
                   </div>
                   
                   <div class="col-md-5 col-sm-5 password_cont">
                     <div class="progress-label">{{'Strength' | translate}}:</div>
                     <div ng-password-strength="user.password2" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-" class="bar"></div>
                  </div>
                   
                  <div class="span12 clearfix"><hr /></div>

                  <div class="form-group">
                      <label for="st-email" style="text-align:right;"  class="col-md-2 col-sm-2 control-label">{{'Email' | translate}}</label>
                      <div class="col-md-10 col-sm-10"><input  type="text" class="form-control" autocomplete="off" name="email" id="st-email" required ng-model="user.email" disabled /></div>
                      <i class="fa fa-check-circle" ng-show="user.email_verified"></i>
                   </div>                              
                  
                  <div class="span12 clearfix"><hr/></div>
                   
                   <div class="form-group">
                      <label for="st-country" style="text-align:right;"  class="col-md-2 col-sm-2 control-label">{{'Country' | translate}}</label>
                      <div class="col-md-10 col-sm-10"><select class="form-control" id="st-country" ng-model="user.chosenCountry" ng-options="country.name for country in countries track by country.id" ng-change="getCitiesForCountry(user.chosenCountry);"><option value="">{{'Select_Country' | translate}}</option></select></div> 
                    </div>

                   <div class="span12 clearfix"><hr/></div> 
                   
                   <div class="form-group">
                      <label for="st-city" style="text-align:right;"  class="col-md-2 col-sm-2 control-label">{{'City' | translate}}</label>
                      <div class="col-md-10 col-sm-10"><select class="form-control" id="st-city" ng-model="user.chosenCity" ng-options="city.name for city in cities track by city.name"><option value="">{{'Select_City' | translate}}</option></select></div>
                    </div>

                  <div class="span12 clearfix"><hr/></div>  

                  <div class="form-group">
                      <label for="st-timezone" style="text-align:right;"  class="col-md-2 col-sm-2 control-label">{{'Time_Zone' | translate}}</label>
                      <div class="col-md-10 col-sm-10"><select class="form-control" id="st-timezone" style="direction:ltr;" ng-model="user.chosenTtimeZ" ng-options="timez.name group by timez.zonegroup for timez in timezones track by timez.id" ng-change="zoneChanged();"></select></div>
                    </div>

                  <div class="span12 clearfix"><hr/></div>  
                   
                  <div class="form-group">
                    <label for="st-language" style="text-align:right;"  class="col-md-2 col-sm-2 control-label">{{'Language_UI' | translate}}</label>
                    <div class="col-md-10 col-sm-10"><select class="form-control" name="sel_lang" id="st-language" ng-model="user.lang"><option value="he_IL">{{'Hebrew' | translate}}</option><option value="en_US">{{'English' | translate}}</option></select></div>  
                  </div>

                  <div class="span12 clearfix"><hr/></div>  
                   
                  <div class="span12 clearfix">
                    <div class="col-md-12 submit_cont">
                        <input type="submit" id="register-me" class="btn btn-success" value="{{'Save_Details' | translate}}" />
                    </div>
                  </div>  
                 
                </form>            
                </div>

          </tab>          
          <tab select="" disabled="tabs[1].disabled" class="pull-right" active="tabs[1].active">
            <tab-heading>
              {{'Profile' | translate}}
            </tab-heading>

            <div class="messages">
                    <div class="text-success" ng-show="User_Success">{{'Data_Saved_Successfully' | translate}}</div>                
            </div>

            <div class="col-md-12 panel">
            <form  method="post" name="regForm2" id="regForm2" novalidate ng-submit="submitTheForm2()">
                  <div class="form-group">
                    <label for="st-firstname" style="text-align:right;" class="col-md-2 col-sm-3 control-label">{{'First_Name' | translate}}</label>
                    <div class=" col-md-10 col-sm-9"><input type="text" class="form-control" autocomplete="off" name="firstname" id="st_firstname" ng-model="user.firstname" placeholder="{{'First_Name' | translate}}" /></div>
                  </div>

                  <div class="span12 clearfix"><hr/></div>  

                  <div class="form-group">
                    <label for="st-lastname" class="col-md-2 col-sm-3 control-label">{{'Last_Name' | translate}}</label>
                    <div class=" col-md-10 col-sm-9"><input type="text" class="form-control" autocomplete="off" name="lastname" id="st_lastname" ng-model="user.lastname" placeholder="{{'Last_Name' | translate}}"  /></div>
                  </div>  

                  <div class="span12 clearfix"><hr/></div>  

                  <div class="form-group">
                    <label for="st-position" style="text-align:right;" class="col-md-2 col-sm-3 control-label">{{'Position' | translate}}</label>
                    <div class=" col-md-10 col-sm-9"><input type="text" class="form-control" autocomplete="off" name="position" id="st_position" ng-model="user.position" placeholder="{{'Position' | translate}}" /></div>
                  </div>  

                  <div class="span12 clearfix"><hr/></div>  

                  <div class="form-group">
                    <label for="st-about" style="text-align:right;" class="col-md-2 col-sm-3 control-label">{{'About' | translate}}</label>
                    <div class=" col-md-10 col-sm-9"><textarea  rows="6" name="about" id="st_about" ng-model="user.about" class="form-control">{{user.about}}</textarea></div>
                  </div>  

                  <div class="span12 clearfix"><hr/></div>  

                  <div class="span12">
                    <div style="margin-left: 15px; text-align: left;"><input type="submit" id="register-me" class="btn btn-success" value="{{'Save_Details' | translate}}" /></div>
                  </div>  

            </form>
            </div>

          </tab>

          <tab  disabled="tabs[2].disabled" class="pull-right" active="tabs[2].active">
            <tab-heading>
              {{'Picture' | translate}}              
            </tab-heading>

             
              
              <div class="panel picture_cont">          
                   
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label>{{'Your_Picture' | translate}}</label>
                    <p>{{'Photo_visible_to_everyone' | translate}}</p>
                </div>

                               <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="img_vis_cont">
                        <img ng-src={{user.avatar_240}} />
                    </div>
                </div>


                
                <div class="col-md-5 col-sm-4 col-xs-12">                                   
                    <label>{{'Select_an_image_to_upload' | translate}}</label>
                    <div name="userpic" id="userpic" ng-file-drop ng-file-select ng-model="files" class="drop-box" 
                      drag-over-class="dragover" 
                      ng-accept="'.gif,.jpg,.png'">{{'Drop_Text' | translate}}
                    </div>
                     <div ng-no-file-drop>{{'Drop_Not_Supported' | translate}}</div>
                     <ul>
                        <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
                    </ul>             

                </div>                              

                <div class="col-md-2 col-sm-2"></div>

                <div class="span12" style="clear:both;">
                  <div class="btn-lg pull-left"><input type="button" id="register-me" class="btn btn-success"  value="{{'Save_Details' | translate}}" ng-click="upload(files)" /></div>     
                </div>  
                
                 <div class="messages">
                    <div class="text-success" ng-show="User_Success">{{'Data_Saved_Successfully' | translate}}</div> 
                 </div>                
              
              </div>
          </tab>


          <tab disabled="tabs[3].disabled" class="pull-right" active="tabs[3].active">
            <tab-heading>
              {{'Alerts' | translate}}
            </tab-heading>

            <div class="messages">
                    <div class="text-success" ng-show="User_Success">{{'Data_Saved_Successfully' | translate}}</div>                
            </div>

            <div class="col-md-12 panel">
            <form style="margin-top:40px;">
              alerts
            </form>
            </div>
         
          </tab>
    </tabset>          
        

  </div> <!-- of class="div-login" -->

</div>
</div>
</div>
