<div class="row">
<div class="col-sm-5" ng-controller="Profile">  
  <div class="div-login">

    <h1 id="ttl1">{{"Your_Account" | translate}}</h1>
        
    
   <tabset type ="pills">
          <tab heading="{{'Settings' | translate}}" disabled="tabs[0].disabled" active="tabs[0].active" class="pull-right">

              <div class="form-wrapper">              
               

                <div id="errors">

                    <div id="error-message"></div>
                
                </div>                    
                 
                <form method="post" name="regForm1" id="regForm1" novalidate ng-submit="submitTheForm()">         

                  <input type="hidden" id="action" name="action" value="register_action" />
                  <input type="hidden" id="username" name="username" value="{{email_id}}" />
                  
                  <div class="form-label"><label for="st-psw">{{'Password' | translate}}</label></div>
                  <div  class="login-error-msg" ng-show="PSWRD_MATCH_ERROR">Passwords do not match</div>
                   <div class="field"><input type="password" name="password" id="st-psw" ng-model="user.password" placeholder="{{'Current_Password' | translate}}" /></div>                   
                   <div class="field"><input type="password" name="password2" id="st-psw2" ng-model="user.password2" placeholder="{{'New_Password' | translate}}" /></div>


                  <div class="form-label"><label for="st-email">{{'Email' | translate}}</label></div>
                   <div class="field">                    
                    <input  type="text" autocomplete="off" name="email" id="st-email" required ng-model="user.email" disabled />
                   </div>                              
                  
                   
                   <div class="form-label"><label for="st-country">{{'Country' | translate}}</label></div>
                   <div class="field"><select id="st-country" ng-model="user.chosenCountry" ng-options="country.name for country in countries track by country.id" ng-change="getCitiesForCountry(user.chosenCountry);"><option value="">{{'Select_Country' | translate}}</option></select></div> 
                   
                  <div class="form-label"><label for="st-city">{{'City' | translate}}</label></div>
                   <div class="field"><select id="st-city" ng-model="user.chosenCity" ng-options="city.name for city in cities track by city.name"><option value="">{{'Select_City' | translate}}</option></select></div>

                  <div class="form-label"><label for="st-timezone">{{'Time_Zone' | translate}}</label></div>
                   <div class="field"><select id="st-timezone" style="direction:ltr;" ng-model="user.chosenTtimeZ" ng-options="timez.name group by timez.zonegroup for timez in timezones track by timez.id" ng-change="zoneChanged();"></select></div>
                   
                  <div class="form-label"><label for="st-language">{{'Language_UI' | translate}}</label></div>
                   <div class="field"><select name="sel_lang" id="st-language" ng-model="user.lang"><option value="he_IL">{{'Hebrew' | translate}}</option><option value="en_US">{{'English' | translate}}</option></select></div>  
                   
                  <div class="frm-button" style="margin-top:30px;"><input type="submit" id="register-me" value="{{'Save_Details' | translate}}" /></div>
                 
                </form>
             
            </div>

          </tab>          
          <tab select="" disabled="tabs[1].disabled" class="pull-right" active="tabs[1].active">
            <tab-heading>
              {{'Profile' | translate}}
            </tab-heading>

            <form method="post" name="regForm2" id="regForm2" novalidate ng-submit="submitTheForm2()">
                  <div class="form-label"><label for="st-firstname">{{'First_Name' | translate}}</label></div>
                  <div class="field"><input type="text" autocomplete="off" name="firstname" id="st_firstname" ng-model="user.firstname" placeholder="{{'First_Name' | translate}}" /></div>  
                  
                  <div class="form-label"><label for="st-lastname">{{'Last_Name' | translate}}</label></div>
                  <div class="field"><input type="text" autocomplete="off" name="lastname" id="st_lastname" ng-model="user.lastname" placeholder="{{'Last_Name' | translate}}"  /></div>  

                  <div class="form-label"><label for="st-position">{{'Position' | translate}}</label></div>
                  <div class="field"><input type="text" autocomplete="off" name="position" id="st_position" ng-model="user.position" placeholder="{{'Position' | translate}}" /></div>  

                  <div class="form-label"><label for="st-about">{{'About' | translate}}</label></div>
                  <div class="field"><textarea  name="about" id="st_about" ng-model="user.about">{{user.about}}</textarea></div>  

                  <div class="frm-button" style="margin-top:30px;"><input type="submit" id="register-me" value="{{'Save_Details' | translate}}" /></div>

            </form>
         
          </tab>

          <tab  disabled="tabs[2].disabled" class="pull-right" active="tabs[2].active">
            <tab-heading>
              {{'Picture' | translate}}              
            </tab-heading>

            <style>
            .button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
          </style>
           
              <div style="float:right; width:240px; height:240px; background-color:#e8e8e8; -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px; -khtml-border-radius: 10px;"><img ng-src={{user.avatar_220}} /></div>
              
              <div style="float:left;">                                   

                  <div name="userpic" id="userpic" ng-file-drop ng-file-select ng-model="files" class="drop-box" 
                    drag-over-class="dragover" 
                    ng-accept="'.gif,.jpg,.png'">{{'Drop_Text' | translate}}
                  </div>
                   <div ng-no-file-drop>{{'Drop_Not_Supported' | translate}}</div>
                   <ul>
                      <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
                  </ul>             

              </div>                                

              <div class="frm-button" style="clear:both; float:left; margin-top:30px;"><input type="button" id="register-me" value="{{'Save_Details' | translate}}" ng-click="upload(files)" /></div>     
         
          </tab>


          <tab disabled="tabs[3].disabled" class="pull-right" active="tabs[3].active">
            <tab-heading>
              {{'Alerts' | translate}}
            </tab-heading>

            <form>
              alerts
            </form>
         
          </tab>
    </tabset>          
        

  </div> <!-- of class="div-login" -->

</div>
</div>